// Global
$background: #1A1B26;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

.bar {
    background-color: $background;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-radius: 6;
    border-color: rgba(0,0,0,0);
}

.button-generic {
    margin: .2rem 0 .2rem 0;
    color: $foreground;
    background-color: $background;
    padding-left: 4;
    padding-right: 4;
    background-image: unset;
    border-width: 0;
}
.button-generic:hover {
    background-color: $foreground;
    color: $background;
}

.workspace-focused {
    border-width: 2.5;
    border-color: $magenta;
}

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-height: 3px;
  min-width: 50px;
  margin: .3rem 0 .3rem 0;
}

.volume-icon{
  margin: .2rem 0 .2rem 0;
  color: $foreground;
}
.volume-box trough highlight {
  background-color: $red;
  color: $foreground;
  border-radius: 5px;
}
