// Global

$dark0-hard: #1d2021;
$dark0: #282828;
$dark0-soft: #32302f;
$dark1: #3c3836;
$dark2: #504945;
$dark3: #665c54;
$dark4: #7c6f64;
$dark4-256: #7c6f64;

$gray-245: #928374;
$gray-244: #928374;

$light0-hard: #f9f5d7;
$light0: #fbf1c7;
$light0-soft: #f2e5bc;
$light1: #ebdbb2;
$light2: #d5c4a1;
$light3: #bdae93;
$light4: #a89984;
$light4-256: #a89984;

$bright-red: #fb4934;
$bright-green: #b8bb26;
$bright-yellow: #fabd2f;
$bright-blue: #83a598;
$bright-magenta: #d3869b;
$bright-aqua: #8ec07c;
$bright-orange: #fe8019;

$neutral-red: #cc241d;
$neutral-green: #98971a;
$neutral-yellow: #d79921;
$neutral-blue: #458588;
$neutral-magenta: #b16286;
$neutral-aqua: #689d6a;
$neutral-orange: #d65d0e;

$faded-red: #9d0006;
$faded-green: #79740e;
$faded-yellow: #b57614;
$faded-blue: #076678;
$faded-magenta: #8f3f71;
$faded-aqua: #427b58;
$faded-orange: #af3a03;

$red: $bright-red;
$green: $bright-green;
$yellow: $bright-yellow;
$blue: $bright-blue;
$magenta: $bright-magenta;
$aqua: $bright-aqua;
$orange: $bright-orange;

$background: $dark0-hard;
$foreground: $light1;
$foreground-inverse: $dark1;
$white: $foreground;

* {
    all: unset;
    font-size: 25;
}

.bar {
    background-color: $background;
    padding-left: .5rem;
    padding-right: 5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

scale trough {
  background-color: $background;
  border-radius: 5px;
  min-height: 7px;
  min-width: 75px;
  margin: .3rem 0 .3rem 0;
}

.button-generic {
    margin: .2rem 0 .2rem 0;
    color: $foreground;
    padding-left: 4;
    padding-right: 4;
    background-image: unset;
    border-width: 0;
    border-radius: 4;
}
.button-generic:hover {
    background-color: $orange;
    color: $background;
}

.clock-day {
    background: $orange;
    color: $background;
}
.clock-date {
    padding-left: 25;
    padding-right: 25;
    background: $orange;
    color: $background;
}

.workspaces {
    padding-left: 8;
}
.workspace-focused {
    border-width: 2.5;
    border-color: $foreground;
}
.workspace-button {
    padding-left: 6;
    padding-right: 6;
}

.volume-box trough highlight {
  background-color: $red;
  color: $foreground;
  border-radius: 5px;
}
.volume-scale {
    margin-right: 6;
}

.battery-box {
    padding-right: 8;
}
.battery-button {
    padding-left: 4;
    padding-right: 4;
}

.internet-box {
    margin: .2rem 0 .2rem 0;
    border-radius: 5px;
    color: $foreground;
}
